<%
   # Defining breadcrumbs
   @breadcrumbs = [
           {:link => admin_posts_path, :title => t('backend_part.blog')},
           {:title => t('backend_part.manage')}
   ]

   # Defining menu
   @menu = [
           {:link => admin_posts_path, :title => t('backend_part.manage_posts'), :icon => 'list'},
           {:link => new_admin_post_path, :title => t('backend_part.create_post'), :icon => 'file'},
           {:link => maintance_admin_posts_path, :title => t('backend_part.maintance'), :icon => 'cog' }
   ]
%>

<div class="page-header">
  <h1><%= t('backend_part.blog') %>
    <small> <%= t('backend_part.manage') %></small>
  </h1>
</div>

<div class="datagrid">
    <%= render 'grid' %>
</div>