<%
    # Defining breadcrumbs
    @breadcrumbs = [
        {:link => admin_posts_path, :title => t('backend_part.blog')},
        {:title => t('backend_part.create_post')}
    ]

    # Defining menu
    @menu = [
        {:link => admin_posts_path, :title => t('backend_part.manage_posts'), :icon => 'list'},
    ]
%>

<div class="page-header">
  <h1><%= t('backend_part.post') %>
    <small>&nbsp;<%= t('backend_part.create') %></small>
  </h1>
</div>

<div class="form">
  <%= render 'form' %>
</div>
