<% t = Setting.title
   title t
   wiselinks_title t
%>

<%= render partial: 'layouts/header' %>

<!--<div class="description-text">
    <div class="wrapper">
        <h2>Block header</h2>
        <div class="separator"></div>
        <p class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent id tempor ipsum. Fusce at massa ac nunc porta fringilla sed eget neque. Quisque quis pretium nulla. Fusce eget bibendum neque, vel volutpat augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
    </div>
</div>-->

<div class="socials">
  <div class="wrapper">
    <h2>Socials</h2>
    <div class="separator"></div>
    <%= socials_list %>
  </div>
  <div style="clear:both"></div>
</div>