<%
   # Defining breadcrumbs
   @breadcrumbs = [
           {:link => admin_roles_path, :title => t('backend_part.roles')},
           {:title => t('backend_part.manage')}
   ]

   # Defining menu
   @menu = [
           {:link => admin_roles_path, :title => t('backend_part.manage_roles'), :icon => 'list'},
           {:link => new_admin_role_path, :title => t('backend_part.create_role'), :icon => 'file'},
   ]
%>

<div class="page-header">
  <h1><%= t('backend_part.roles') %>
    <small> <%= t('backend_part.manage') %></small>
  </h1>
</div>

<% columns = [
        {:name => 'name', :searchable => true, :title => t('activerecord.attributes.role.name')},
        {:name => 'actions_grid_column', :title => t('backend_part.actions'), :edit => method(:edit_admin_role_path), :remove => method(:admin_role_path), :sortable => false},
] %>

<%= gridview_helper columns, {:class => "table table-striped table-bordered table-condensed",
                              :source => admin_roles_url,
                              :fnDrawCallback => "function(){$('a#tooltip').tooltip()}"} %>