div.blog-posts{
  padding-bottom: 50px;

  h2{
    margin-top: 0px;
    margin-bottom: 0px;

    a, a:hover, a:visited{
      color: black;
      text-decoration: none;
    }
  }

  div.blog-post{
    padding-top: 30px;
    padding-bottom: 20px;

    div.post-header{
      margin-bottom: 20px;
      position: relative;

    }

    div.time{
      color: #8c9398;
    }

    &:nth-child(even){
      background-color: #f3f5f8;
    }

    div.post-badge{
      position: absolute;
      top: 0;
      right: 0;
      height: 32px;
      width: 32px;
      background-image: asset-url('losyear/text-post.png');
    }

    &.text-post div.post-badge{
      background-image: asset-url('losyear/text-post.png');
    }

    &.twitter-post div.post-badge{
      background-image: asset-url('losyear/twitter-post.png');
    }

    &.instagram-post div.post-badge{
      background-image: asset-url('losyear/instagram-post.png');
    }

    img{
      max-width: 99%;
    }
  }

  ul.pagination{
    width:100%;

    li.previous_page{
      float:left;
    }

    li.next_page{
      float:right;
    }
  }
}