@font-face {
  font-family: 'GothamRoundedBook';
  src: asset-url('losyear/gothamrnd-book.eot');
  src: asset-url('losyear/gothamrnd-book.eot') format('embedded-opentype'),
  asset-url('losyear/gothamrnd-book.woff') format('woff'),
  asset-url('losyear/gothamrnd-book.ttf') format('truetype'),
  asset-url('losyear/gothamrnd-book.svg#GothamRoundedBook') format('svg');
}

@font-face {
  font-family: 'GothamRoundedBookMedium';
  src: asset-url('losyear/gothamrnd-medium.eot');
  src: asset-url('losyear/gothamrnd-medium.eot') format('embedded-opentype'),
  asset-url('losyear/gothamrnd-medium.woff') format('woff'),
  asset-url('losyear/gothamrnd-medium.ttf') format('truetype'),
  asset-url('losyear/gothamrnd-medium.svg#GothamRoundedMedium') format('svg');
}