@font-face {
  font-family: 'GothamRoundedBook';
  src: url('gothamrnd-book.eot');
  src: url('gothamrnd-book.eot') format('embedded-opentype'),
  url('gothamrnd-book.woff') format('woff'),
  url('gothamrnd-book.ttf') format('truetype'),
  url('gothamrnd-book.svg#GothamRoundedBook') format('svg');
}

@font-face {
  font-family: 'GothamRoundedBookMedium';
  src: url('gothamrnd-medium.eot');
  src: url('gothamrnd-medium.eot') format('embedded-opentype'),
  url('gothamrnd-medium.woff') format('woff'),
  url('gothamrnd-medium.ttf') format('truetype'),
  url('gothamrnd-medium.svg#GothamRoundedMedium') format('svg');
}