<%
   # Defining breadcrumbs
   @breadcrumbs = [
           {:link => admin_socials_path, :title => t('backend_part.social')},
           {:title => @social.title, :link => '#'},
           {:title => t('backend_part.manage')}
   ]

   # Defining menu
   @menu = [
           {:link => admin_socials_path, :title => t('backend_part.manage_socials'), :icon => 'list'},
           {:link => new_admin_social_path, :title => t('backend_part.create_social'), :icon => 'file'},
   ]
%>

<div class="page-header">
  <h1><%= t('backend_part.social') %>
    <small>&nbsp;<%= @social.title %></small>
  </h1>
</div>

<div class="form">
    <%= render 'form' %>
</div>