<%
   # Defining breadcrumbs
   @breadcrumbs = [
           {:link => admin_socials_path, :title => t('backend_part.socials')},
           {:title => t('backend_part.manage')}
   ]

   # Defining menu
   @menu = [
           {:link => admin_socials_path, :title => t('backend_part.manage_socials'), :icon => 'list'},
           {:link => new_admin_social_path, :title => t('backend_part.create_social'), :icon => 'file'},
   ]
%>

<div class="page-header">
  <h1><%= t('backend_part.socials') %>
    <small> <%= t('backend_part.manage') %></small>
  </h1>
</div>

<div class="datagrid">
  <%= render 'grid' %>
</div>