<%
   # Defining breadcrumbs
   @breadcrumbs = [
           {:link => admin_socials_path, :title => t('backend_part.socials')},
           {:title => t('backend_part.manage')}
   ]

   # Defining menu
   @menu = [
           {:link => admin_socials_path, :title => t('backend_part.manage_socials'), :icon => 'list'},
           {:link => new_admin_social_path, :title => t('backend_part.create_social'), :icon => 'file'},
   ]
%>

<div class="page-header">
  <h1><%= t('backend_part.socials') %>
    <small> <%= t('backend_part.manage') %></small>
  </h1>
</div>

<% columns = [
        {:name => 'title', :searchable => true, :title => t('activerecord.attributes.social.title')},
        {:name => 'link', :searchable => true, :title => t('activerecord.attributes.social.link')},
        {:name => 'status', :searchable => false, :title => t('activerecord.attributes.social.status')},
        {:name => 'actions_grid_column', :title => t('backend_part.actions'), :edit => method(:edit_admin_social_path), :remove => method(:admin_social_path), :sortable => false},
] %>

<%= gridview_helper columns, {:class => "table table-striped table-bordered table-condensed",
                              :source => admin_socials_url,
                              :fnDrawCallback => "function(){$('a#tooltip').tooltip()}"} %>